.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #008800;
		font-style: italic;
	}
	.err {
		color: #a61717;
		background-color: #e3d2d2;
	}
	.k {
		color: #000080;
		font-weight: bold;
	}
	.cm {
		color: #008800;
		font-style: italic;
	}
	.cp {
		color: #008080;
	}
	.c1 {
		color: #008800;
		font-style: italic;
	}
	.cs {
		color: #008800;
		font-weight: bold;
	}
	.gd {
		color: #000000;
		background-color: #ffdddd;
	}
	.ge {
		font-style: italic;
	}
	.gr {
		color: #aa0000;
	}
	.gh {
		color: #999999;
	}
	.gi {
		color: #000000;
		background-color: #ddffdd;
	}
	.go {
		color: #888888;
	}
	.gp {
		color: #555555;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #aaaaaa;
	}
	.gt {
		color: #aa0000;
	}
	.kc {
		color: #000080;
		font-weight: bold;
	}
	.kd {
		color: #000080;
		font-weight: bold;
	}
	.kn {
		color: #000080;
		font-weight: bold;
	}
	.kp {
		color: #000080;
		font-weight: bold;
	}
	.kr {
		color: #000080;
		font-weight: bold;
	}
	.kt {
		color: #000080;
		font-weight: bold;
	}
	.m {
		color: #0000FF;
	}
	.s {
		color: #0000FF;
	}
	.na {
		color: #FF0000;
	}
	.nt {
		color: #000080;
		font-weight: bold;
	}
	.ow {
		font-weight: bold;
	}
	.w {
		color: #bbbbbb;
	}
	.mf {
		color: #0000FF;
	}
	.mh {
		color: #0000FF;
	}
	.mi {
		color: #0000FF;
	}
	.mo {
		color: #0000FF;
	}
	.sb {
		color: #0000FF;
	}
	.sc {
		color: #800080;
	}
	.sd {
		color: #0000FF;
	}
	.s2 {
		color: #0000FF;
	}
	.se {
		color: #0000FF;
	}
	.sh {
		color: #0000FF;
	}
	.si {
		color: #0000FF;
	}
	.sx {
		color: #0000FF;
	}
	.sr {
		color: #0000FF;
	}
	.s1 {
		color: #0000FF;
	}
	.ss {
		color: #0000FF;
	}
	.il {
		color: #0000FF;
	}
}
