.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: #008800;
		font-style: italic;
	}
	.err {
		border: 1px solid #FF0000;
	}
	.k {
		color: #AA22FF;
		font-weight: bold;
	}
	.o {
		color: #666666;
	}
	.cm {
		color: #008800;
		font-style: italic;
	}
	.cp {
		color: #008800;
	}
	.c1 {
		color: #008800;
		font-style: italic;
	}
	.cs {
		color: #008800;
		font-weight: bold;
	}
	.gd {
		color: #A00000;
	}
	.ge {
		font-style: italic;
	}
	.gr {
		color: #FF0000;
	}
	.gh {
		color: #000080;
		font-weight: bold;
	}
	.gi {
		color: #00A000;
	}
	.go {
		color: #808080;
	}
	.gp {
		color: #000080;
		font-weight: bold;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: #800080;
		font-weight: bold;
	}
	.gt {
		color: #0040D0;
	}
	.kc {
		color: #AA22FF;
		font-weight: bold;
	}
	.kd {
		color: #AA22FF;
		font-weight: bold;
	}
	.kn {
		color: #AA22FF;
		font-weight: bold;
	}
	.kp {
		color: #AA22FF;
	}
	.kr {
		color: #AA22FF;
		font-weight: bold;
	}
	.kt {
		color: #00BB00;
		font-weight: bold;
	}
	.m {
		color: #666666;
	}
	.s {
		color: #BB4444;
	}
	.na {
		color: #BB4444;
	}
	.nb {
		color: #AA22FF;
	}
	.nc {
		color: #0000FF;
	}
	.no {
		color: #880000;
	}
	.nd {
		color: #AA22FF;
	}
	.ni {
		color: #999999;
		font-weight: bold;
	}
	.ne {
		color: #D2413A;
		font-weight: bold;
	}
	.nf {
		color: #00A000;
	}
	.nl {
		color: #A0A000;
	}
	.nn {
		color: #0000FF;
		font-weight: bold;
	}
	.nt {
		color: #008000;
		font-weight: bold;
	}
	.nv {
		color: #B8860B;
	}
	.ow {
		color: #AA22FF;
		font-weight: bold;
	}
	.w {
		color: #bbbbbb;
	}
	.mf {
		color: #666666;
	}
	.mh {
		color: #666666;
	}
	.mi {
		color: #666666;
	}
	.mo {
		color: #666666;
	}
	.sb {
		color: #BB4444;
	}
	.sc {
		color: #BB4444;
	}
	.sd {
		color: #BB4444;
		font-style: italic;
	}
	.s2 {
		color: #BB4444;
	}
	.se {
		color: #BB6622;
		font-weight: bold;
	}
	.sh {
		color: #BB4444;
	}
	.si {
		color: #BB6688;
		font-weight: bold;
	}
	.sx {
		color: #008000;
	}
	.sr {
		color: #BB6688;
	}
	.s1 {
		color: #BB4444;
	}
	.ss {
		color: #B8860B;
	}
	.bp {
		color: #AA22FF;
	}
	.vc {
		color: #B8860B;
	}
	.vg {
		color: #B8860B;
	}
	.vi {
		color: #B8860B;
	}
	.il {
		color: #666666;
	}
}
