---
---

$green: #65C09F;
$red: #C82045;

$primary: $green;
$secondary: $red;
$spacer: 3rem;

$btn-border-radius: 2em;
$font-family-base: Nunito, Inconsolata;
$jumbotron-bg: transparent;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "sass-web-fonts/web-fonts";

@import url(web-fonts-url("Nunito"));
@import url(web-fonts-url("Inconsolata"));

/**
 * Overrides
 */
.jumbotron {
  color: $white;
}

.btn {
  padding-left: 2em;
  padding-right: 2em;
  text-transform: uppercase;
}

.navbar-toggler {
  border-radius: 5px;
}

.display-4 {
  font-family: Inconsolata;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/**
 * Custom
 */
.background-dark {
  background-color: #273545;
}

.elide-illustration {
  margin-right: 2rem;
}

$elbow-border: $gray-600 2px dashed;
.elbow {
  margin: 1em 0;

  div {
    margin-left: 115px;
    margin-right: 115px;
    width: 100%;
  }

  .elbow-left {
    border-left: $elbow-border;
    height: 5em;
  }

  .elbow-right {
    border-right: $elbow-border;
    height: 5em;
  }

  .elbow-center {
    border-top: $elbow-border;
  }
}

.github {
  img {
    height: 18px;
    width: 18px;
  }
  span {
    padding-top: 1px;
    vertical-align: middle;
  }
}

.footer .links a {
  color: $white;
  display: block;
  margin-bottom: 1rem;

  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

.navbar-slim {
  height: 100%;

  .navbar {
    padding: 0.5rem 3rem;
  }

  .navbar-brand {
    zoom: 0.75;
  }
}

.side-bar {
  li {
    line-height: 3em;
  }
}

.license {
  font-family: Inconsolata;
  white-space: pre-wrap;
}
