---
---
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "bootswatch/flatly/variables";
@import "bootstrap/bootstrap";
@import "bootswatch/flatly/bootswatch";

body {
  padding-top: 50px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 0px !important;
}

.nav-stacked {
  margin-top: 1em;
}

.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;
}

h1, h2, h3, h4, h5, h6 {
  /*
    Make TOC links work properly
    from: https://css-tricks.com/hash-tag-links-padding/
  */
  &::before {
    display: block;
    content: " ";
    margin-top: -70px;
    height: 70px;
    visibility: hidden;
    z-index: -1;
  }

  &:hover .header-link {
    opacity: 1;
  }
}

code {
  color: inherit;
  background-color: #eee;
}
