---
---
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "bootswatch/flatly/variables";
@import "bootstrap/bootstrap";
@import "bootswatch/flatly/bootswatch";

body {
  padding-top: 50px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 0px !important;
  padding: 8px 0px;
}

.nav-stacked {
  margin-top: 1em;
}
