---
---
body {
  padding-top: 50px;
}

.page-header {
  margin: 0;
  background-color: #2dc8ab;
  background-image: linear-gradient(120deg, #6067a8, #2dc8ab);
}

.project-tagline {
  font-size: larger;
}

.navbar {
  border-bottom: none;
  margin-bottom: none;
  background-color: #2dc8ab;
  background-image: linear-gradient(14deg, #6067a8, #2dc8ab);
}

.navbar a {
  color: white;
}

.nav-stacked {
  margin-top: 1em;
}

#top-nav-desktop {
  margin: 0 1em;

  .nav > li > a {
    margin-top: 0px;
    padding: 15px 5px 5px;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

#logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}

pre code {
  word-wrap: normal;
  word-break: normal;
  white-space: pre;
}
