<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/syntax.css">

  <!-- Treant -->
  <link rel="stylesheet" type="text/css" href="/assets/styles/treant-js/Treant.css">
  <script src="/assets/js/raphael/raphael.min.js"></script>
  <script src="/assets/js/treant-js/Treant.js"></script>
</head>

<body>
  {% if page.group != "guide" %}
    {% assign nav-style = 'text-light background-dark' %}
  {% else %}
    {% assign nav-style = 'text-light background-dark navbar-slim' %}
  {% endif %}
  <div class="{{nav-style}}">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          <img src="/assets/images/elide-white-logo.png" class="img-fluid text-light" alt="Elide Logo" />
        </a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link text-light" href="/pages/guide/01-start.html">Documentation</a>
            <a class="nav-item nav-link text-light" href="/pages/license.html">Licensing</a>
          </div>
        </div>
        <a class="navbar-brand mr-0" href="https://github.com/yahoo/elide-doc">
          <button type="button" class="btn btn-secondary github">
            <img src="/assets/images/GitHub-Mark-Light-32px.png" class="img-fluid" alt="Github Logo">
            <span>Github</span>
          </button>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
  </div>

  {{content}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
  <script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>

</html>
