---
layout: default
---
{% include setup %}
<div class="container mt-3">
  <div class="row">
    <div class="col-sm side-bar">
      <ul class="nav flex-column">
        {% assign sorted_pages = site.pages | sort:"name" %} {% for pages in sorted_pages %} {% if pages.group == "guide" %}
        <li><a href="{{ BASE_PATH }}{{ pages.url }}">{{ pages.title }}</a></li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    <div class="col-sm-9 docs">
      {% if pages.title != blank %}
      <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
      {% endif %}
      <div class="row-fluid">
        {{ content }}
      </div>
    </div>
  </div>
</div>
