---
layout: default
---
{% include setup %}
<div class="jumbotron">
  <div class="container">
    <div style="text-align: center">
      <img src="/assets/images/elide.svg" alt="Elide" width="360px" style="padding: 40px 0" />
      <h2>
        <!-- <img src="/assets/images/jsonapi.png" style="float: left" /> -->
        Stand up <a href="http://jsonapi.org/"><span style="font-family: monospace">{json:api}</span></a>
        web services backed by <br/> JPA annotated models in <em>5 minutes</em>
      </h2>
    </div>
  </div>
</div>
<div class="container">
  {{ content }}
</div>
